

@import "../node_modules/bootstrap/scss/bootstrap";


body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	background-color: #eeeeee;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	text-shadow: 3px 3px 0px rgba(63,107,169, 0.5);
}
$text-primary {
	color: red;
	font-size: 4em;
}
.btn-secondary {
	background-color: #ffffff;
}
.main{
	margin: 5%;
}
.navbar{
}