body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	background-color: #eeeeee;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
.btn-secondary {
	background-color: #ffffff;
}
.main{
	margin: 5%;
}